<!-- <div class="alert alert-danger"> 
    {{name}} 
    <button (click)="onClick($event)">X</button>
</div> -->
<div>
    <img [src]="image" alt="Test image" [hidden]="notification">
    <br>
    <!-- <input type="text" (input)="changeValue($event)"> -->
    <!-- <input type="text" [(ngModel)]="value" [ngClass]="{changeBackground: value != ''}">
    <br>
    <span *ngIf="value !== ''; else goodMorning">Searched value: {{value}} </span>
    <ng-template #goodMorning>
        <button>Good morning</button>
    </ng-template> -->
</div>

<!-- <div *ngFor="let item of [1, 2, 3, 4]; let i = index">
    <p [ngStyle]="{color: i % 2 == 0 ? 'red' : 'green'}">Index: {{i}} Number: {{item}} </p>
</div> -->

<div>
    jdklsfjs
    dhjkf
    kdhkf
    hdfkhsj
    djfljsdlfj
    idjiasd
</div>


@defer () {
    <div>
        <app-search [idForBE]="getType()"
        (emailValueChange)="emailAddressEntered($event)"></app-search>
    </div>
} @placeholder {
    <p>Future cs</p>
  }

<div>
    {{enteredEmailAddress}}
</div>

<!-- <div *ngFor="let item of courses">
    <p>Name: {{item.name}}</p>
    <p>Price: {{item.price}}</p>
</div> -->
<br>
<br>
<!-- <div>
    <app-search class="afternoon">
        <br>
        <br>
       Good afternoon
    </app-search>
    <app-search>
        <br>
        <br>
       Good Morning
    </app-search>
</div> -->